<!-- Standalone Topic content type, list display, title above -->
<div class="row rowSpacing">
    {{#each searchResults}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 style="min-height: 390px;"  animated" data-animated="fadeInUp">
        <div class="build">
            <div class="feature-img">
                <img src="{{elements.Index_Image.url}}" alt="" width="360" height="225">
            </div>
            <p>{{elements.Summary.value}}
            </p>
            <h4 style="color:#000;padding:25px 0px 5px 0px">
                    <a>{{name}}</a>
                    </h4>
        </div>
        <!-- end build -->
    </div>
    {{/each}}
</div>