<style type="text/css">
.jumbotron {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<div class="container" style="padding-top: 0px;">
    <div class="jumbotron" style="background-image: url({{elements.image.url}});">
        <h1>{{elements.title.value}}</h1>
        <p style="width: 60%;">{{elements.summary.value}}</p>
        <p><a href="https://developer.ibm.com/wch" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>