<div>
    <div class="carousel slide" style="width: 460px;">
        <div class="carousel-inner">
            <img class="carousel-image" src="{{elements.image.url}}" width="460" height="345">
            <div class="carousel-caption">
                <h1>{{elements.title.value}}</h1>
                <p>{{elements.summary.value}}</p>
                <h4>{{elements.author.value}}</h4>
            </div>
            </img>
        </div>
    </div>
</div>