<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 animated" data-animated="fadeInUp">
    <div class="build">
        <div class="feature-img">
            <img src="{{elements.image.url}}" alt="" width="360" height="225">
        </div>
        <h4 style="color:#000;padding:25px 0px 5px 0px">
                    <a>{{elements.title.value}}</a>
                    </h4>
        <p>{{elements.summary.value}}
        </p>
    </div>
</div>