<style type="text/css"> 
.jumbotron {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<div class="container" style="padding-top: 20px;">
    <div class="jumbotron" style="background-image: url({{elements.heroImage.url}});">
        <h1>{{elements.heroTitle.value}}</h1>
        <p style="width: 60%;">{{elements.heroText.value}}</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>