<style type="text/css">
.jumbotron {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<div class="jumbotron" style="background-image: url({{elements.heroImage.url}});">
    <div class="text-right">
        <h1>{{elements.heroTitle.value}}</h1>
        <p style="width: 100%;">{{elements.heroText.value}}</p>
        <p><a href="https://developer.ibm.com/wch/" target="_blank" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>